{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Guson Ulysse (Sonny)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'homepage/css/styles.css' %}">
</head>
<body onkeydown="runIntro(event)">
<div class="instructionContainer" id="instructionCon" >Hi my name is Guson Ulysse</div>
<div class="flashing_text" id="flashingText" >Press any key to continue...</div>
<header class="header">
    <a href="#"  class="name">Guson Ulysse</a>

    <nav class="navbar">
        <a href="https://docs.google.com/document/d/1G8bKxLuGfLo02bhHwEH7sRO-eJkzn4eNzsGJLHsi6nc/export?format=pdf" download="Guson Ulysse resume SE v2"
           class="list">Download Resume</a>
        <a href=https://docs.google.com/document/d/1G8bKxLuGfLo02bhHwEH7sRO-eJkzn4eNzsGJLHsi6nc/edit?usp=sharing
           class="list" target="_blank">View Resume</a>
        <a href="https://colab.research.google.com/drive/1Vx90sdC41tB-qXFVG_svyK_OD5E8dfdJ?usp=sharing"
           class="list" target="_blank">ML/AI. Project</a>
    </nav>

</header>
<section class="home">
<div class="description" id="introContainer">
    <div class="links">
        <a href="https://github.com/SonnyGU" id="git" target="_blank"><i class='bx bxl-github'></i></a>
        <a href="https://www.linkedin.com/in/gulysse/" id="link" target="_blank"><i class='bx bxl-linkedin' ></i></a>
    </div>
</div>
</section>
<script src="{% static 'homepage/js/script.js' %}"></script>
</body>
</html>
